@charset "UTF-8";
/* CSS Document */

body, div, span, canvas { margin:0; padding:0; }
html { 
  background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0; padding:0;
  overflow:hidden;
}
body{
	opacity:0;
	font-family: 'thaisans_neueregular';
}
#container {
    overflow:hidden;
    position:relative;
}
#pixie {
   z-index:1;
    width:100%;
	height:100%;
	opacity:0;
}
#vignette{
z-index: 100;
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: transparent;
-moz-box-shadow: inset 0px 0px 750px rgba(0,0,0,.5);
-webkit-box-shadow: inset 0px 0px 750px rgba(0,0,0,.5);
box-shadow: inset 0px 0px 750px rgba(0,0,0,.5);
}
#container2{
  width:100%;
  height:100%;
  z-index:3;
  position:absolute;
  top:0;
  left:0;
  opacity:1;
  color:white;
  text-align:center;
}
.mix{
	width:700px;
	height:55px;
	line-height:45px;
	border-radius:10px;
	background-color:rgba(255,255,255,0.7);
	color:black;
	font-size:30px;
	margin-bottom:10px;
	text-align:left;
	display:none;
}
.rank{
	position:relative;
	margin-top:-60px;
}
.showscore{
	font-size:50px;
	margin-right:20px;
}