@font-face {
    font-family: 'thai_sans_literegular';
    src: url(../fonts/thaisanslite_r1-webfont.eot);
    src: url(../fonts/thaisanslite_r1-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/thaisanslite_r1-webfont.woff2) format('woff2'),
         url(../fonts/thaisanslite_r1-webfont.woff) format('woff'),
         url(../fonts/thaisanslite_r1-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

html{
    font-family: 'thai_sans_literegular' !important;
}

h1{
    font-size: 3em;
}

body{
    background-color: #0c141e !important;
    color:#fff !important;
    overflow-x: hidden !important;
    font-family: 'thai_sans_literegular' !important;
}

.container {
    background-position: 100% 100%;
    background-size: 100% 100%;
    /*position: relative;*/
    min-width: 980px;
}
#scene .layout .header {
    position: absolute;
    left: 50%;
    top: 3%
}
#scene .layout .logo {
    display: block;
    position: relative;
    margin: 0 auto;
}
#scene .layout .header .camp_name {
    width: 28.7em;
    height: auto;
    margin: 0 auto
}
#scene .layout .header .camp_way {
    width: 25em;
    height: auto;
    margin: -3.0625em auto 0
}
#scene .layout .header .sponser {
    width: 19em;
    height: auto;
    margin: -1.6em auto
}
#scene .layout .town>div {
    position: absolute;
    bottom: 0;
    width: 120%;
    left: -6em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom
}
#scene .layout .town .town-front {
    background-image: url(../img/layout/t1_1.png);
    bottom: -10.3em;
    max-height: 34em;
    height: 100%;
    z-index: -1;
}
#scene .layout .town .town-mid {
    background-image: url(../img/layout/t2.png);
    bottom: -8.6em;
    max-height: 34em;
    height: 100%;
    z-index:-2;
}
#scene .layout .town .town-back {
    background-image: url(../img/layout/t.png);
    bottom: -8.6em;
    max-height: 34em;
    height: 100%;
    z-index: -3;
}

.header{
         padding: 20px;
         }
         .header .avatar{
         text-align: center;
         }
         .header .avatar img {
         width: 60%;
         }
         .header .logout button{
         float: right;
         }
         .header h3{
         padding: 0;
         margin: 0;
         }
         .content .main-button{
         position: relative;
         margin-bottom: 20px;
         padding: 0;
         }
         .content .text{
         position: absolute;
         width: 100%;
         height: 100%;
         z-index: 2;
         }
         .content .text h1{
         font-size: 80px;
         line-height: 94px;
         padding-left: 170px;
         }
         .content .text h2{
         font-size: 80px;
         line-height: 94px;
         }
         .content .text .status{
         text-align: center;
         }
         .content .bg-btn {
         position: relative;
         }
         .content .overlay {
         height: 100%;
         width: 100%;
         position: absolute;
         z-index: 8;
         }
         .content .main-button.active .overlay{
         background-color: rgba(0 , 0, 0, 0.6);
         }
         .content .main-button.active .text{
         opacity: .6;
         }

/*bar*/

.btn btn-primary .next{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  padding: 14px 50px;
  border-radius: 4px;
  background-color: #337ab7;
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 22px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  padding: 14px 50px;
  border-radius: 4px;
  background-color: #337ab7;
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 22px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover {
  background-color: #265c8b;
  font-size: 22px;
}
button.previous {
  background-color: #A2ACAF;
  font-size: 22px;
}
button.previous:hover {
  background-color: #5A5F61;
  font-size: 22px;
}

button.logout{
    background-color: #ff3200;
    font-size: 22px;
}

button.next{
    font-size: 22px;
}

.full-width-container {
  width: 100%;
  min-width: 320px;
}

.sized-container {
max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.slide-container {
  position: relative;
  left: 0;
  padding: 0;
  overflow: hidden;
}

.slide {
  float: left;
}
.slide .sized-container {
padding: -75px;
    margin-left: 11%;
}

.button-container {
  overflow: hidden;
  padding-top: 20px;
}
.button-container button {
  float: right;
  margin-left: 20px;
}


.pagination {
  width: 100%;
  text-align: center;
  padding: 0 25px;
}

.indicator {
  width: 25px;
  height: 25px;
  border: 4px solid lightgray;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.indicator .tag {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: lightgray;
  white-space: nowrap;
}
.indicator.active, .indicator.complete {
  border-color: #337ab7;
}
.indicator.active .tag, .indicator.complete .tag {
  color: #337ab7;
}
.indicator.complete:after {
  content: "✓";
  position: absolute;
  color: #337ab7;
  left: 3px;
  top: 0px;
  font-size: 14px;
}

.progress-bar-container {
  width: 10%;
  height: 4px;
  display: inline-block;
  background-color: lightgray;
  position: relative;
  top: -10px;
}
.progress-bar-container:last-of-type {
  display: none;
}
.progress-bar-container .progress-bar {
  width: 0;
  height: 100%;
  background-color: #37B595 !important;
}

.font-form{
    font-size:1.1em;
}

button.logout{
    background-color: #ff3200;
    font-size: 22px;
}

button.next{
    font-size: 22px;
}


/* by first */

h3{
  font-size: 17px !important;
}

.h1, .h2, .h3, h1, h2, h3 {
margin: 10px 0 5px !important;
}

.center{
  margin: 0 auto;
}

.buttonupload{
 background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
        opacity: 0;
    filter: alpha(opacity=0);
}
.buttonupload:hover{
   background-color: #000;
   opacity: 0.3;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    opacity: 0;
    filter: alpha(opacity=0);
}
.img:hover{
  width: 120%;
  height: 120%;
}


.question-box{
    padding: 30px;
}

.question-not-success{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.disable{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}